/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&kscan0 {
      debounce-period=<15>;
};

/ {

behaviors {
      hm: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping_term_ms = <180>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
    };

    combos {
    compatible = "zmk,combos";
    combo_volup {
        timeout-ms = <50>;
        key-positions = <5 6>;
        bindings = <&kp C_VOL_UP>;
        layers = <0>;
    };
    combo_voldown {
        timeout-ms = <50>;
        key-positions = <15 16>;
        bindings = <&kp C_VOL_DN>;
        layers = <0>;
    };
    combo_mute {
        timeout-ms = <50>;
        key-positions = <25 26>;
        bindings = <&kp C_MUTE>;
        layers = <0>;
    };
    combo_briup {
        timeout-ms = <50>;
        key-positions = <5 6>;
        bindings = <&kp C_BRI_UP>;
        layers = <1>;
    };
    combo_bridown {
        timeout-ms = <50>;
        key-positions = <15 16>;
        bindings = <&kp C_BRI_DN>;
        layers = <1>;
    };
    combo_pp {
        timeout-ms = <50>;
        key-positions = <25 26>;
        bindings = <&kp C_PP>;
        layers = <2>;
    };
    combo_NXT {
        timeout-ms = <50>;
        key-positions = <5 6>;
        bindings = <&kp C_NEXT>;
        layers = <2>;
    };
    combo_PREV {
        timeout-ms = <50>;
        key-positions = <15 16>;
        bindings = <&kp C_PREV>;
        layers = <2>;
    };
    combo_semi {
        timeout-ms = <65>;
        key-positions = <17 18 19>;
        bindings = <&kp SEMI>;
    };
    combo_LSHIFT {
        timeout-ms = <65>;
        key-positions = <12 13>;
        bindings = <&kp LSHIFT>;
    };
    combo_LCTRL {
        timeout-ms = <65>;
        key-positions = <11 12>;
        bindings = <&kp LCTRL>;
    };
    combo_LALT {
        timeout-ms = <65>;
        key-positions = <10 11>;
        bindings = <&kp LALT>;
    };
    combo_LGUI {
        timeout-ms = <65>;
        key-positions = <10 13>;
        bindings = <&kp LGUI>;
    };
    combo_RSHIFT {
        timeout-ms = <65>;
        key-positions = <16 17>;
        bindings = <&kp RSHIFT>;
    };
    combo_RCTRL {
        timeout-ms = <65>;
        key-positions = <17 18>;
        bindings = <&kp RCTRL>;
    };
    combo_RALT {
        timeout-ms = <65>;
        key-positions = <18 19>;
        bindings = <&kp RALT>;
    };
    combo_RGUI {
        timeout-ms = <65>;
        key-positions = <16 19>;
        bindings = <&kp RGUI>;
    };
    combo_LCTSF {
        timeout-ms = <65>;
        key-positions = <11 12 13>;
        bindings = <&kp LSHIFT(LCTRL)>;
    };
};

};
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  Q  |  W  |   E   |  R  |   T   |  Y  |   U   |   I   |  O  |  P  |
// |  A  |  S  |   D   |  F  |   G   |  H  |   J   |   K   |  L  |  '  |
// |  Z  |  X  |   C   |  V  |   B   |  N  |   M   |   ,   |  .  |  /  |
//             | ESC/3 |SPC/1| TAB/2 | BKS | ENT/1 | DEL/4 |
                        bindings = <
   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P
   &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K  &kp L  &kp SQT
   &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH
   &lt 3 ESC &lt 1 SPC &lt 2 TAB &kp BSPC &lt 1 RET &lt 4 DEL
                        >;
                };

                toprow_layer1 {
// -----------------------------------------------------------------------------------------
// |  1  |  2  |   3   |  4  |   5   |  6  |  7    |   8   |  9  |  0  |
// |  !  |  @  |   #   |  $  |   %   |  ^  |  &    |   *   |  (  |  )  |
// |  F1 |  F2 |   F3  |  F4 |   F5  |  F6 |  F7   |   F8  |  F9 | F10 |
//             | ESC/3 |SPC/1| TAB/2 | BKS | ENT/1 | DEL/4 |
                        bindings = <
   &kp N1    &kp N2    &kp N3    &kp N4      &kp N5      &kp N6    &kp N7    &kp N8    &kp N9     &kp N0
   &kp EXCL  &kp AT    &kp HASH  &kp DOLLAR  &kp PRCNT   &kp CARET &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR
   &kp F1  &kp F2  &kp F3  &kp F4    &kp F5   &kp F6  &kp F7  &kp F8 &kp F9    &kp F10
   &trans    &trans    &trans    &trans      &trans      &trans
                        >;
                };

                sym_layer2 {
// -----------------------------------------------------------------------------------------
// |     |     |       |     |       |  `  |   =   |   +   |  (  |  )  |
// | GUI |LALT | LCTL  | SFT |       |  ~  |   -   |   _   |  [  |  ]  |
// |     |     |       |     |       |     |   \   |   |   |  {  |  }  |
//             | ESC/3 |SPC/1| TAB/2 | BKS | ENT/1 | DEL/4 |
                        bindings = <
   &none     &none       &none     &none      &none   &kp GRAVE &kp EQUAL   &kp PLUS    &kp LPAR    &kp RPAR
   &kp LGUI  &kp LALT    &kp LCTRL &kp LSHFT  &none   &kp TILDE &kp MINUS   &kp UNDER   &kp LBKT    &kp RBKT
   &none     &none       &none     &none      &none   &none     &kp BSLH    &kp PIPE    &kp LBRC    &kp RBRC
   &trans    &trans    &trans    &trans      &trans      &trans
                        >;
                };

                nav_layer3 {
// -----------------------------------------------------------------------------------------
// |     |     |       |     |       | HM  |  PU   |  UP   |  PD  |  END  |
// | GUI |LALT | LCTL  | SFT |       | UND |  LT   |  DN   |  RT  |  RE   |
// |     |     |       |     |       | CAP | CPY   |  PST  |  CUT |  INS  |
//             | ESC/3 |SPC/1| TAB/2 | BKS | ENT/1 | DEL/4 |
                        bindings = <
   &none     &none       &none     &none      &none   &kp HOME &kp PG_UP   &kp UP    &kp PG_DN    &kp END
   &kp LGUI  &kp LALT    &kp LCTRL &kp LSHFT  &none   &kp LC(Z) &kp LEFT   &kp DOWN  &kp RIGHT    &kp LC(Y)
   &none     &none       &none     &none      &none   &kp CAPS  &kp LC(C)  &kp LC(V) &kp LC(X)    &kp INSERT
   &trans    &trans    &trans    &trans      &trans      &trans
                        >;
                };
                
                sys_layer4 {
// -----------------------------------------------------------------------------------------
// |BTCLR| RST |       |     |  BT1  |      | V_up   |  V_dn  | mute |      |
// |     |CMENU|       |     |  BT2  |      | PREV   |  PP    | NEXT |      |
// |     | BOOT|       |     |  BT3  |      | Bri_up | Bri_dn |      |      |
//             | ESC/3 |SPC/1| TAB/2 | BKS  | ENT/1  | DEL/4  |
                        bindings = <
   &bt BT_CLR   &reset      &none  &none &bt BT_SEL 0   &none   &kp C_VOL_UP  &kp C_VOL_DN  &kp C_MUTE &none
   &none        &kp K_CMENU &none  &none &bt BT_SEL 1   &none   &kp C_PREV    &kp C_PP      &kp C_NEXT &none
   &none        &bootloader &none  &none &bt BT_SEL 2   &none   &kp C_BRI_UP  &kp C_BRI_DN  &none      &none
   &trans   &trans    &trans     &trans   &trans   &trans
                        >;
                };


        };
};
